h1 {
    position: absolute;
    top: 150px;
    left: 150px;
    transfom: rotate(90deg);
    background-color: red;
    transition: 5s;
    width: 20%;
}
h1:hover {
    background-color: blue;
    width: 50%;
}


body {
    overflow-x: scroll;
}
.test p {
    color: red;
}
.test {
    background-color: black;
    padding: 20px;
}